# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [59]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import csv
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [60]:
# read in the .csv
ct_data = "..\output_data\cities.csv"
city_df = pd.read_csv(ct_data)
del city_df['Unnamed: 0']
city_df[['Latitude' , 'Longitude']] = city_df[['Latitude', 'Longitude']].apply(pd.to_numeric)
city_df.head()

,City,Latitude,Longitude,Tempature,Humidity,Cloudiness,Windspeed,Country,Date of Weather
0,Hilo,19.7297,-155.0900,70.11,92,8,4.00,US,2021-09-12
1,Esperance,-33.8667,121.9000,49.84,72,11,12.08,AU,2021-09-12
2,Cidreira,-30.1811,-50.2056,68.09,76,6,14.52,BR,2021-09-12
3,Busselton,-33.6500,115.3333,50.09,81,96,4.23,AU,2021-09-12
4,Bluff,-46.6000,168.3333,47.80,77,87,24.87,NZ,2021-09-12

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [61]:
import gmaps

# Google developer API key
from api_keys import g_key

# Access maps with unique API key
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = city_df[["Latitude", "Longitude"]]

# Fill NaN values and convert to float
humidity = city_df["Humidity"].astype(float)

# Create the heatmaps (used example form anthony)
fig = gmaps.figure(center=[0,0], zoom_level = 2)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False)
heat_layer.max_intensity = 100
heat_layer.point_radius = 5
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [62]:
# creating a new dataframe for only those cities that are between 70 and 80 degrees, windspeed less than 10
ideal_city = city_df.loc[(city_df['Tempature']>=70) & (city_df['Tempature'] <=80)]
ideal_city = ideal_city.loc[(ideal_city['Windspeed'] <= 10)]
ideal_city.dropna()
ideal_city.head()

,City,Latitude,Longitude,Tempature,Humidity,Cloudiness,Windspeed,Country,Date of Weather
0,Hilo,19.7297,-155.0900,70.11,92,8,4.00,US,2021-09-12
6,Rikitea,-23.1203,-134.9692,72.97,74,26,6.13,PF,2021-09-12
9,Bengkulu,-3.8004,102.2655,76.91,89,66,3.06,ID,2021-09-12
10,Magnolia,33.2671,-93.2393,78.48,51,0,4.05,US,2021-09-12
14,Albany,42.6001,-73.9662,73.62,76,93,6.06,US,2021-09-12

In [63]:
# stor into new hotel_df
hotel_df = ideal_city.reset_index(drop=True)
hotel_df['Hotel Name'] = ''
hotel_df.head()

,City,Latitude,Longitude,Tempature,Humidity,Cloudiness,Windspeed,Country,Date of Weather,Hotel Name
0,Hilo,19.7297,-155.0900,70.11,92,8,4.00,US,2021-09-12,
1,Rikitea,-23.1203,-134.9692,72.97,74,26,6.13,PF,2021-09-12,
2,Bengkulu,-3.8004,102.2655,76.91,89,66,3.06,ID,2021-09-12,
3,Magnolia,33.2671,-93.2393,78.48,51,0,4.05,US,2021-09-12,
4,Albany,42.6001,-73.9662,73.62,76,93,6.06,US,2021-09-12,

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [45]:
# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# set up a parameters dictionary
params = {
    "type" : "hotel",
    "keyword": "hotel",
    "radius": "5000",    
    "key": g_key
}

In [52]:
# Create a loop through each city and lat/lon in the datafraem
for index, row in hotel_df.iterrows():
    lat = row['Latitude']
    lng = row["Longitude"]
    city_name = row["City"]

    params["location"] = f"{lat},{lng}"

     # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 0: Luanda.
Closest hotel in Luanda is EPIC SANA Luanda.
------------
Retrieving Results for Index 1: Escanaba.
Closest hotel in Escanaba is Super 8 by Wyndham Escanaba.
------------
Retrieving Results for Index 2: Kaili.
Missing field/result... skipping.
------------
Retrieving Results for Index 3: Vaini.
Closest hotel in Vaini is Paradise First Hotel.
------------
Retrieving Results for Index 4: Ponta do Sol.
Closest hotel in Ponta do Sol is Hotel Enotel Baía.
------------
Retrieving Results for Index 5: Chauk.
Closest hotel in Chauk is Bo Khin Guest House.
------------
Retrieving Results for Index 6: Miajadas.
Closest hotel in Miajadas is Hotel Triana.
------------
Retrieving Results for Index 7: Kyabé.
Missing field/result... skipping.
------------
Retrieving Results for Index 8: Jamestown.
Closest hotel in Jamestown is Chautauqua Harbor Hotel.
------------
Retrieving Results for Index 9: Tura.
Closest hotel in Tura is Hotel Polo Orchid.
------------
Retrieving Results for Index 10: Iquitos.
Closest hotel in Iquitos is DoubleTree by Hilton Iquitos.
------------
Retrieving Results for Index 11: Virginia Beach.
Closest hotel in Virginia Beach is Wyndham Virginia Beach Oceanfront.
------------
Retrieving Results for Index 12: Chake Chake.
Closest hotel in Chake Chake is Hotel Archipelago.
------------
Retrieving Results for Index 13: Harper.
Missing field/result... skipping.
------------
Retrieving Results for Index 14: Shimoda.
Closest hotel in Shimoda is Shimoda Tokyu Hotel.
------------
Retrieving Results for Index 15: Bethel.
Closest hotel in Bethel is La Quinta Inn & Suites by Wyndham Danbury.
------------
Retrieving Results for Index 16: Arraial do Cabo.
Closest hotel in Arraial do Cabo is Orlanova Hotel.
------------
Retrieving Results for Index 17: Bidor.
Closest hotel in Bidor is B&L Hotel.
------------
Retrieving Results for Index 18: Gijang.
Closest hotel in Gijang is Hilton Busan.
------------
Retrieving Results for Index 19: Conakry.
Closest hotel in Conakry is Noom Hotel Conakry.
------------
Retrieving Results for Index 20: Bengkulu.
Closest hotel in Bengkulu is Mercure Bengkulu.
------------
Retrieving Results for Index 21: Omboué.
Closest hotel in Omboué is Hôtel Georges Faustin Aurat.
------------
Retrieving Results for Index 22: Linqiong.
Closest hotel in Linqiong is Lanting Hotel.
------------
Retrieving Results for Index 23: Camacha.
Closest hotel in Camacha is Vila Baleira Resort.
------------
Retrieving Results for Index 24: Rodrigues Alves.
Missing field/result... skipping.
------------
Retrieving Results for Index 25: Natal.
Closest hotel in Natal is Hotel Senac Barreira Roxa.
------------
Retrieving Results for Index 26: Hamilton.
Missing field/result... skipping.
------------
Retrieving Results for Index 27: Vila Velha.
Closest hotel in Vila Velha is Golden Tulip Porto Vitória.
------------
Retrieving Results for Index 28: Ayna.
Missing field/result... skipping.
------------
Retrieving Results for Index 29: Jijiang.
Closest hotel in Jijiang is Chongqing Jiangjin Hotel.
------------
Retrieving Results for Index 30: São Filipe.
Closest hotel in São Filipe is Casas Do Sol.
------------
Retrieving Results for Index 31: Caucayá.
Closest hotel in Caucayá is la casona de juancho.
------------
Retrieving Results for Index 32: Lentini.
Closest hotel in Lentini is Sant'Alphio Palace Hotel.
------------
Retrieving Results for Index 33: Hasaki.
Closest hotel in Hasaki is Inubosaki Kanko Hotel.
------------
Retrieving Results for Index 34: Jinchang.
Closest hotel in Jinchang is Jindu International Hotel.
------------
Retrieving Results for Index 35: Lagdo.
Missing field/result... skipping.
------------
Retrieving Results for Index 36: Tiznit Province.
Missing field/result... skipping.
------------
Retrieving Results for Index 37: Mersing.
Closest hotel in Mersing is Seri Malaysia Mersing.
------------
Retrieving Results for Index 38: Mbini.
Missing field/result... skipping.
------------
Retrieving Results for Index 39: Kapoeta.
Closest hotel in Kapoeta is Kuleu Hotel.
------------
Retrieving Results for Index 40: Ferkessédougou.
Closest hotel in Ferkessédougou is Hotel Poufiret.
------------
Retrieving Results for Index 41: Isangel.
Closest hotel in Isangel is Tanna Ikamir Guest House.
------------
Retrieving Results for Index 42: Pyapon.
Closest hotel in Pyapon is နွေဦးဝေ တည်းခိုခန်း.
------------
Retrieving Results for Index 43: Owatonna.
Closest hotel in Owatonna is Country Inn & Suites by Radisson, Owatonna, MN.
------------
Retrieving Results for Index 44: Nara.
Closest hotel in Nara is Hotel Allamanda.
------------
Retrieving Results for Index 45: Barroquinha.
Closest hotel in Barroquinha is Pousada Fontenele.
------------
Retrieving Results for Index 46: Makassar.
Closest hotel in Makassar is Hotel Horison Ultima Makassar.
------------
Retrieving Results for Index 47: Arona.
Closest hotel in Arona is Hotel Jardín Tropical.
------------
Retrieving Results for Index 48: Myitkyina.
Closest hotel in Myitkyina is Palm Spring Resort Hotel Myitkyina.
------------
Retrieving Results for Index 49: Deolāli.
Closest hotel in Deolāli is Courtyard by Marriott Nashik.
------------
Retrieving Results for Index 50: Wamba.
Closest hotel in Wamba is Roma Zee Guest House Annex.
------------
Retrieving Results for Index 51: Najrān.
Missing field/result... skipping.
------------
Retrieving Results for Index 52: Kununurra.
Closest hotel in Kununurra is Hotel Kununurra.
------------
Retrieving Results for Index 53: Aripuanã.
Missing field/result... skipping.
------------
Retrieving Results for Index 54: Ambulu.
Closest hotel in Ambulu is Hotel Ambulu Jember.
------------
Retrieving Results for Index 55: Seoul.
Closest hotel in Seoul is Ramada Hotel and Suites Seoul Namdaemun.
------------
Retrieving Results for Index 56: Kinston.
Closest hotel in Kinston is Hampton Inn Kinston.
------------
Retrieving Results for Index 57: Kloulklubed.
Closest hotel in Kloulklubed is The Adventures Inn-Peleliu.
------------
Retrieving Results for Index 58: Moengo.
Closest hotel in Moengo is Masanga.
------------
Retrieving Results for Index 59: Katobu.
Closest hotel in Katobu is La Ode Husein.
------------
Retrieving Results for Index 60: Saint Anthony.
Closest hotel in Saint Anthony is DoubleTree Suites by Hilton Hotel Minneapolis.
------------
Retrieving Results for Index 61: Marratxí.
Missing field/result... skipping.
------------
Retrieving Results for Index 62: Katsuura.
Closest hotel in Katsuura is Katsuura Hilltop Hotel & Residence.
------------
Retrieving Results for Index 63: Fes.
Closest hotel in Fes is Hôtel Volubilis.
------------
Retrieving Results for Index 64: Kutum.
Missing field/result... skipping.
------------
Retrieving Results for Index 65: Pringsewu.
Closest hotel in Pringsewu is Urban Style by Front One.
------------
Retrieving Results for Index 66: Bintulu.
Closest hotel in Bintulu is Promenade Bintulu hotel.
------------
Retrieving Results for Index 67: Mutatá.
Closest hotel in Mutatá is Hotel Confort mutata.
------------
Retrieving Results for Index 68: Turiaçu.
Closest hotel in Turiaçu is Pousada Roxo.
------------
Retrieving Results for Index 69: Rome.
Closest hotel in Rome is Wingate By Wyndham Rome.
------------
Retrieving Results for Index 70: Kinshasa.
Closest hotel in Kinshasa is Béatrice Hotel.
------------
Retrieving Results for Index 71: Umm Hājar.
Missing field/result... skipping.
------------
Retrieving Results for Index 72: George Town.
Closest hotel in George Town is Hotel Penaga.
------------
Retrieving Results for Index 73: Praia.
Closest hotel in Praia is Hotel Oasis Atlantico Praiamar.
------------
Retrieving Results for Index 74: Qazanbulaq.
Missing field/result... skipping.
------------
Retrieving Results for Index 75: Bonthe.
Closest hotel in Bonthe is Bonthe Holiday Village.
------------
Retrieving Results for Index 76: Keetmanshoop.
Closest hotel in Keetmanshoop is Hotel Schützenhaus.
------------
Retrieving Results for Index 77: Comendador.
Closest hotel in Comendador is Hotel Eureka.
------------
Retrieving Results for Index 78: Tabuk.
Closest hotel in Tabuk is M Hotel Tabuk, INC..
------------
Retrieving Results for Index 79: Flinders.
Closest hotel in Flinders is Lakeview Hotel Motel.
------------
Retrieving Results for Index 80: Paphos.
Closest hotel in Paphos is Avlida Hotel.
------------
Retrieving Results for Index 81: Porto-Novo.
Closest hotel in Porto-Novo is Tour Eiffel Hotel Benin.
------------
Retrieving Results for Index 82: Mayo.
Missing field/result... skipping.
------------
Retrieving Results for Index 83: Pakxan.
Closest hotel in Pakxan is Century Grand Hotel.
------------
Retrieving Results for Index 84: Mitsamiouli.
Closest hotel in Mitsamiouli is Al Camar Lodge.
------------
Retrieving Results for Index 85: Manthani.
Missing field/result... skipping.
------------
Retrieving Results for Index 86: Dok Kham Tai.
Closest hotel in Dok Kham Tai is โรงแรมวีซี ดอกคำใต้ พะเยา.
------------
Retrieving Results for Index 87: Pala.
Closest hotel in Pala is Hotel Pala Palace.
------------
Retrieving Results for Index 88: Ban Nahin.
Missing field/result... skipping.
------------
Retrieving Results for Index 89: Monrovia.
Closest hotel in Monrovia is Bella Casa.
------------
Retrieving Results for Index 90: Enumclaw.
Closest hotel in Enumclaw is Econo Lodge.
------------
Retrieving Results for Index 91: Mangan.
Closest hotel in Mangan is Munlom Nature Resort.
------------
Retrieving Results for Index 92: Angra dos Reis.
Closest hotel in Angra dos Reis is Mercure Angra dos Reis.
------------
Retrieving Results for Index 93: Tuban.
Closest hotel in Tuban is Favehotel Tuban, East Java.
------------
Retrieving Results for Index 94: Ono.
Closest hotel in Ono is ホテルルートイン小野.
------------
Retrieving Results for Index 95: Dzaoudzi.
Closest hotel in Dzaoudzi is 2.0 Hotel.
------------
Retrieving Results for Index 96: Bissau.
Closest hotel in Bissau is Hotel CEIBA.
------------
Retrieving Results for Index 97: Yenagoa.
Closest hotel in Yenagoa is De Brass Suites.
------------
Retrieving Results for Index 98: Acajutla.
Closest hotel in Acajutla is Villavela Hotel Boutique.
------------
Retrieving Results for Index 99: Gamba.
Missing field/result... skipping.
------------
Retrieving Results for Index 100: Urambo.
Closest hotel in Urambo is Dubai Lodge.
------------
Retrieving Results for Index 101: Ābdānān.
Closest hotel in Ābdānān is مسافرخانه سینا.
------------
Retrieving Results for Index 102: Elizabeth City.
Closest hotel in Elizabeth City is Best Western Plus Elizabeth City Inn & Suites.
------------
Retrieving Results for Index 103: Trat.
Missing field/result... skipping.
------------
Retrieving Results for Index 104: Aksu.
Closest hotel in Aksu is Tianyuan International Hotel.
------------
Retrieving Results for Index 105: Conde.
Missing field/result... skipping.
------------
Retrieving Results for Index 106: Nanzhang.
Closest hotel in Nanzhang is Shengqi Hotel.
------------
Retrieving Results for Index 107: Mola di Bari.
Closest hotel in Mola di Bari is Barion Hotel & Congressi.
------------
Retrieving Results for Index 108: Soke.
Missing field/result... skipping.
------------
Retrieving Results for Index 109: Allāpalli.
Closest hotel in Allāpalli is Hotel IK Residency.
------------
Retrieving Results for Index 110: San Cristobal.
Closest hotel in San Cristobal is Lidotel Hotel Boutique San Cristobal.
------------
Retrieving Results for Index 111: Bulungu.
Missing field/result... skipping.
------------
Retrieving Results for Index 112: Somerset East.
Closest hotel in Somerset East is Somerset East Royal Hotel.
------------
Retrieving Results for Index 113: Goundi.
Missing field/result... skipping.
------------

In [53]:
hotel_df.head()

,City,Latitude,Longitude,Tempature,Humidity,Cloudiness,Windspeed,Date of Weather,Hotel Name
0,Luanda,-8.8368,13.2343,72.45,91,66,2.71,09/11/2021,EPIC SANA Luanda
1,Escanaba,45.7453,-87.0646,70.23,62,50,7.63,09/11/2021,Super 8 by Wyndham Escanaba
2,Kaili,-3.4626,120.2147,71.37,90,85,1.54,09/11/2021,
3,Vaini,-21.2000,-175.2000,73.56,94,90,8.05,09/11/2021,Paradise First Hotel
4,Ponta do Sol,32.6667,-17.1000,76.01,86,36,8.34,09/11/2021,Hotel Enotel Baía

EPIC SANA Luanda
R. da Missão, Luanda

In [58]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

KeyError: 'Country'

In [56]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'Country'

In [57]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content= hotel_info)
fig.add_layer(markers)

# Display figure
fig

NameError: name 'hotel_info' is not defined